@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
.cta-button, .eventos-grid a, .productos div a, .quiero-mas .cta-button-mas, .equipo-raid .join-action, .quienes-somos a, footer .footer-container .footer-sections .footer-column ul li a {
  text-decoration: none; }

body {
  font-family: "Roboto Condensed", 'Trebuchet MS', 'Tahoma', sans-serif;
  background-color: #1B1B1B;
  overflow-x: hidden;
  color: #E0E0E0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1; }

header {
  background-color: #444;
  padding: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header img {
    width: 150px;
    height: auto;
    border-radius: 15px; }

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  flex: 1;
  font-size: 1.5rem;
  font-family: "Sedgwick Ave", cursive;
  color: #E0E0E0; }

.navbar {
  background-color: #444;
  padding: 0.75rem 1rem;
  display: flex; }
  .navbar .navbar-nav .nav-link {
    color: #f5f5dc;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease; }
    .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .nav-link.active {
      color: #FF6F00;
      font-weight: bold; }
    .navbar .navbar-nav .nav-link:hover {
      color: #FF6F00; }
  .navbar .navbar-brand {
    font-size: 1.5rem;
    color: #ffaf1a; }
    .navbar .navbar-brand img {
      width: auto;
      height: 10vh;
      margin-left: 30px; }
  .navbar .navbar-toggler {
    border-color: #FF6F00; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      filter: brightness(0) invert(1); }

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #444; }

.dropdown-menu {
  --bs-dropdown-bg: #333;
  --bs-dropdown-link-color: #f5f5dc
; }

main {
  padding: 0;
  background-color: #1B1B1B; }
  main .hero {
    background: url("../img/hero-img.jpg") no-repeat center center/cover;
    height: calc(100vh - 140px);
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E0E0E0; }
    main .hero .logo-no-broken {
      width: 180px;
      height: 100px; }
    main .hero .hero-content {
      position: block; }
      main .hero .hero-content h1,
      main .hero .hero-content p {
        font-size: 1.5rem;
        margin: 10px 0 20px; }
      main .hero .hero-content .heromain {
        color: #E0E0E0; }

.cta-button {
  background-color: #D32F2F;
  color: #1B1B1B;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease; }
  .cta-button:hover {
    background-color: #B71C1C;
    color: #FFFFFF; }

.eventos h2 {
  background-color: black;
  text-align: center;
  padding: 10px;
  margin: 0; }

.eventos-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  width: 100%; }
  .eventos-grid a {
    color: #E0E0E0;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1B1B1B; }
    .eventos-grid a:hover {
      transform: translateY(-10px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); }
  .eventos-grid img {
    width: auto;
    height: auto;
    border-radius: 10px 10px 0 0;
    display: block; }
  .eventos-grid h3 {
    margin: 10px;
    font-size: 1.2rem;
    color: #FF6F00;
    text-align: center; }
    .eventos-grid h3:hover {
      color: #FFD700; }

.productos {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: wrap;
  padding: 20px;
  background-color: #1B1B1B; }
  .productos div {
    border: 2px solid #cc5900;
    border-radius: 15px;
    margin: 20px;
    text-align: center; }
    .productos div h3 {
      text-align: center;
      color: #FF6F00;
      margin: 10px 0; }
    .productos div img {
      width: auto;
      height: auto;
      padding: 20px;
      align-items: center; }
    .productos div a {
      border-radius: 15px;
      color: #E0E0E0;
      background-color: #FF6F00;
      padding: 10px;
      margin: 20px;
      display: inline-block; }

.quiero-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  width: auto; }
  .quiero-mas .cta-button-mas {
    background-color: #FF6F00;
    color: #1B1B1B;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 3px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; }
    .quiero-mas .cta-button-mas:hover {
      background-color: #FFFFFF;
      color: #000000; }

.glorys {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0;
  flex-wrap: wrap; }
  .glorys img {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; }
    .glorys img:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transform: scale(1.5);
      z-index: 10; }

.borde-quienes-somos {
  margin: 25px;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: #222;
  border: 2px solid #ff9117; }

.equipo-raid {
  text-align: center; }
  .equipo-raid .join-action {
    padding: 10px;
    margin: 10px;
    color: #FF6F00;
    border: 1px solid #FF6F00;
    border-radius: 15px; }

.quienes-somos {
  text-align: left; }
  .quienes-somos h2 {
    font-size: 3vh; }
  .quienes-somos h3 {
    color: #FF6F00;
    font-size: 2vh; }
  .quienes-somos .ww {
    text-decoration: underline;
    color: #994300; }
  .quienes-somos img {
    width: 25%;
    height: auto; }
  .quienes-somos a {
    margin: 2px;
    padding: 5px;
    border: 2px solid #ff9117;
    border-radius: 15px;
    color: #FF6F00;
    text-align: center; }

.nuestra-mision,
.nuestro-equipo,
.fundador {
  margin-top: 25px;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: #1B1B1B;
  margin-bottom: 0;
  border: 2px solid #FF6F00; }
  .nuestra-mision p,
  .nuestro-equipo p,
  .fundador p {
    display: block;
    margin: 1em 0;
    unicode-bidi: isolate; }

.nuestro-equipo-simple {
  margin: 10px 0 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: none;
  align-items: center; }

.img-muchachos {
  display: block;
  padding: 3px;
  max-width: 8vh;
  height: auto;
  border-radius: 50%;
  object-fit: cover; }

.titulo-fundador {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  color: #FF6F00; }

.fundador {
  display: flex;
  justify-content: none;
  align-items: center;
  margin-bottom: 15px; }
  .fundador .muchachos-avatar {
    position: relative;
    overflow: hidden;
    width: 64px;
    border-radius: 50%;
    height: 64px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.teams {
  padding: 2vh;
  margin: auto;
  border: 2px solid #FF6F00; }
  .teams h2,
  .teams h3,
  .teams p {
    text-align: start; }
  .teams h4,
  .teams p {
    font-size: large; }

.conteiner-who-we-are {
  padding: auto;
  margin: 20px; }
  .conteiner-who-we-are p {
    font-size: 2vh; }

.grid-conteiner-teams {
  background-color: #555;
  text-align: center;
  margin: 20px;
  padding: 20px; }

.titulo-grid {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: #1c48b759;
  color: white; }

.clases {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px 2px;
  background-color: #444;
  margin: 10px; }
  .clases img {
    width: 30px;
    height: auto;
    margin-left: 10px; }

.titulo-unete h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 20px; }

.nuestro-goal {
  background-color: #222;
  padding: 20px;
  margin: 15px; }
  .nuestro-goal h2,
  .nuestro-goal h3,
  .nuestro-goal p {
    text-align: start;
    color: white;
    padding: 20px; }
  .nuestro-goal video {
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 10px; }

.unete-bg {
  padding: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%); }

#contactarme {
  padding: 1em;
  margin: auto;
  width: auto;
  height: auto;
  background-color: #1B1B1B;
  color: #999;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center; }
  #contactarme h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: #FF6F00; }
  #contactarme form {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    width: auto;
    height: auto;
    background-color: #444; }
    #contactarme form div {
      margin-bottom: 1em; }
    #contactarme form label {
      display: block;
      font-weight: 500;
      margin-bottom: 0.5em;
      color: #FF6F00; }
    #contactarme form input[type="text"],
    #contactarme form input[type="email"],
    #contactarme form textarea {
      width: 100%;
      padding: 0.5em;
      border: 1px solid #B8860B;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 1rem; }
      #contactarme form input[type="text"]:focus,
      #contactarme form input[type="email"]:focus,
      #contactarme form textarea:focus {
        border-color: #FF6F00;
        outline: none; }
    #contactarme form button[type="submit"] {
      background-color: #FF6F00;
      border: none;
      margin-top: 5em;
      padding: 0.75em 1.5em;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: #1B1B1B; }
      #contactarme form button[type="submit"]:hover {
        background-color: #ff9117; }

.shop-titulo {
  text-align: center;
  padding: 10px;
  margin: 20px; }
  .shop-titulo h2 {
    font-size: 30px;
    padding: 20px; }

.galeria-guild {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 20px;
  grid-auto-rows: 1fr; }
  .galeria-guild div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2px;
    aspect-ratio: 1 / 1; }
  .galeria-guild img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

footer {
  background-color: #444;
  padding: 1%; }
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    flex-wrap: wrap; }
    footer .footer-container img {
      width: 20px;
      height: 20px;
      margin: 2px;
      padding: 2px; }
    footer .footer-container .footer-logo {
      flex: 1; }
      footer .footer-container .footer-logo h3 {
        text-align: center;
        font-family: "Sedgwick Ave", cursive;
        font-size: 1.5rem; }
    footer .footer-container .footer-sections {
      display: flex;
      justify-content: space-between;
      flex: 2; }
      footer .footer-container .footer-sections .footer-column {
        margin: 0 1em; }
        footer .footer-container .footer-sections .footer-column a {
          color: #E0E0E0;
          text-decoration: none;
          transition: color 0.3s;
          display: block; }
        footer .footer-container .footer-sections .footer-column a:hover {
          color: #FF6F00; }
        footer .footer-container .footer-sections .footer-column h4 {
          margin-bottom: 1em;
          font-size: 1.2em;
          color: #FF6F00; }
        footer .footer-container .footer-sections .footer-column ul {
          list-style: none;
          padding: 0; }
          footer .footer-container .footer-sections .footer-column ul li {
            margin-bottom: 0.5em; }
            footer .footer-container .footer-sections .footer-column ul li a {
              color: #E0E0E0;
              display: block;
              margin-bottom: 0.5em;
              transition: color 0.3s; }
              footer .footer-container .footer-sections .footer-column ul li a:hover {
                color: #FF6F00; }
  footer .footer-bottom p {
    text-align: center;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #1B1B1B;
    color: #999; }

/* Media Query para dispositivos peque単os (max-width: 768px) */
@media (max-width: 768px) {
  .conteiner-who-we-are .borde-quienes-somos .quienes-somos .glorys img {
    width: 200px;
    height: auto;
    padding: 10px; }
  header {
    background-color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .navbar,
  .container-fluid {
    width: 100%;
    padding: 0; }
  .eventos-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    display: block; }
  .hero .hero-content p {
    text-align: center; }
  .logo-no-broken {
    display: inline;
    justify-content: center; }
  .container-fluid {
    display: flex;
    justify-items: center;
    flex-direction: row-reverse; } }

/* Media Query para dispositivos medianos y peque単os (max-width: 576px) */
@media (max-width: 576px) {
  .nuestro-goal video {
    width: 400px;
    height: auto; } }

/* Media Query para dispositivos peque単os (max-width: 450px) */
@media (max-width: 450px) {
  .nuestro-goal video {
    width: 350px;
    height: auto; } }

/* Media Query para dispositivos muy peque単os (max-width: 400px) */
@media (max-width: 400px) {
  .nuestro-goal video {
    width: 280px;
    height: auto; } }
