footer {
    background-color: #333;
    padding: 1%;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1em;
        flex-wrap: wrap;

        img {
            width: 20px;
            height: 20px;
            margin: 2px;
            padding: 2px;
        }

        .footer-logo {
            flex: 1;

            h3 {
                text-align: center;
            }
        }

        .footer-sections {
            display: flex;
            justify-content: space-between;
            flex: 2;

            .footer-column {
                margin: 0 1em;
                a {
                    color: #E0E0E0; // Blanco humo
                    text-decoration: none;
                    transition: color 0.3s;
                    display: block;
                }
                a:hover {
                    color: #FF6F00; // Naranja cálido
                }
                

                h4 {
                    margin-bottom: 1em;
                    font-size: 1.2em;
                    color: #FF6F00; // Naranja cálido
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 0.5em;

                        a {
                            color: #E0E0E0; // Blanco humo
                            text-decoration: none;
                            display: block;
                            margin-bottom: 0.5em;
                            transition: color 0.3s;

                            &:hover {
                                color: #FF6F00; // Naranja cálido
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        p {
            text-align: center;
            margin-top: 2em;
            padding-top: 1em;
            border-top: 1px solid #444; // Gris oscuro
            color: #BDBDBD; // Gris claro
        }
    }
}