header {
    background-color: #333; // Gris oscuro
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 150px;
        height: auto;
    }
}

h1,
h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

h1 {
    font-size: 3rem;
    color: #FF6F00; // Naranja cálido
}

h4 {
    font-size: 1.5rem;
    color: #ffffff;
}


.navbar {
    background-color: #333;
    padding: 0.75rem 1rem;
    display: flex;

    .navbar-nav {
        .nav-link {
            color: #f5f5dc;
            font-weight: 600;
            text-transform: uppercase;
            transition: color 0.3s ease;

            &.show,
            &.active {
                color: #ffaf1a; // Color distintivo para la marca
                font-weight: bold;
            }

            &:hover {
                color: #e28743; // Cambia a un tono naranja al pasar el mouse
            }
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
        color: #ffaf1a;

        img {
            width: auto;
            height: 10vh;
            margin-left: 30px;
        }
    }

    .navbar-toggler {
        border-color: #e28743;

        .navbar-toggler-icon {
            filter: brightness(0) invert(1); // Icono de hamburguesa claro
        }
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #444; // Gris más oscuro
}

.btn-outline-success {
    --bs-btn-color: #FF6F00; // Naranja cálido
    --bs-btn-border-color: #000000; // Rojo intenso
    --bs-btn-hover-color: #1B1B1B; // Fondo carbón al pasar
    --bs-btn-hover-bg: #FF6F00; // Naranja cálido
    --bs-btn-hover-border-color: #FF6F00;
    --bs-btn-focus-shadow-rgb: 255, 111, 0; // Sombra naranja
    --bs-btn-active-color: #1B1B1B;
    --bs-btn-active-bg: #D32F2F; // Rojo intenso
    --bs-btn-active-border-color: #D32F2F;
}

.dropdown-menu {
    --bs-dropdown-bg: #333;
}