// Main Section
main {
    padding: 0;
    background-color: $background-color-dark;
}

// Hero Section
.hero {
    background: url('../img/hero-img.jpg') no-repeat center center/cover;
    height: calc(100vh - 140px);
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $text-color-light;

    .logo-no-broken {
        width: 180px;
        height: 100px;
    }

    .hero-content {
        position: block;

        h1,
        p {
            font-size: 1.5rem;
            margin: 10px 0 20px;
        }
    }
}

// Call to Action Button
.cta-button {
    background-color: $cta-color;
    color: $background-color-dark;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: $border-radius;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $cta-hover-color;
        color: #FFFFFF;
    }
}

// Line Gradient
.lineagordita {
    border: 0;
    height: 3px;
    background: linear-gradient(to right, $cta-color, $orange-warm, $cta-color);
    margin: 10px 0;
}

// Events Section
.eventos {
    h2 {
        background-color: black;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    &-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px;
        width: 100%;

        a {
            text-decoration: none;
            color: $text-color-light;
            display: block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 10px;
            overflow: hidden;
            background-color: $background-color-dark;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            }
        }

        img {
            width: auto;
            height: auto;
            border-radius: 10px 10px 0 0;
            display: block;
        }

        h3 {
            margin: 10px;
            font-size: 1.2rem;
            color: $orange-warm;
            text-align: center;

            &:hover {
                color: #FFD700; // Dorado para hover
            }
        }
    }
}

// Products Section
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: $background-color-dark;

    div {
        border: 2px solid darken($orange-warm, 10%);
        border-radius: 15px;
        margin: 20px;
        text-align: center;

        h3 {
            text-align: center;
            color: $orange-warm;
            margin: 10px 0;
        }

        img {
            width: auto;
            height: auto;
            padding: 20px;
            align-items: center;
        }

        a {
            text-decoration: none;
            border-radius: 15px;
            color: $text-color-light;
            background-color: $orange-warm;
            padding: 10px;
            margin: 20px;
            display: inline-block;
        }
    }
}

// Miscellaneous Buttons
.quiero-mas {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    width: auto;

    .cta-button-mas {
        background-color: $orange-warm;
        color: $background-color-dark;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: $border-radius;
        margin-top: 20px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #FFFFFF;
            color: #000000;
        }
    }
}

// Glory Section
.glorys {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 0;
    align-items: center;
    flex-wrap: wrap;

    img {
        width: 150px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transform: scale(1.5);
            z-index: 10;
        }
    }
}

// Who We Are Section
.borde-quienes-somos {
    margin: 25px;
    padding: 40px;
    border-radius: 3px;
    box-shadow: $box-shadow-dark;
    background: rgba(0, 0, 0, 0.45);
    border: 2px solid $border-color;
}

.quienes-somos {
    text-align: left;

    h1 {
        font-size: 3vh;
    }

    h5 {
        color: $orange-warm;
        font-size: 2vh;
    }

    .ww {
        text-decoration: underline;
        color: darken($orange-warm, 20%);
    }

    img {
        width: 25%;
        height: auto;
    }
    a {
        margin: 2px;
        padding: 5px;
        border: 2px solid $border-color;
        border-radius: 15px;
        color: $orange-warm;
        text-decoration: none;
        text-align: center;
    }
}

.nuestra-mision,
.nuestro-equipo,
.fundador {
    margin-top: $margin-top;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background: $secondary-color;
    margin-bottom: 0;
    border: 2px solid $primary-color;

    p {
        display: block;
        margin: 1em 0;
        unicode-bidi: isolate;
    }
}

.nuestro-equipo-simple {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-muchachos {
    display: block;
    padding: 3px;
    max-width: 8vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.titulo-fundador {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    color: $primary-color;
}

.fundador {
    .muchachos-avatar {
        position: relative;
        overflow: hidden;
        width: 64px;
        border-radius: 50%;
        height: 64px;
        margin-right: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.teams {
    padding: 2vh;
    margin: auto;
    border: 2px solid $primary-color;

    h1,
    h2,
    h3,
    p {
        text-align: start;
    }

    h4,
    p {
        font-size: large;
    }
}

.conteiner-who-we-are {
    padding: auto;
    margin: 20px;

    p {
        font-size: 2vh;
    }
}

.grid-conteiner-teams {
    background-color: #555;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.titulo-grid {
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: #1c48b759;
    color: white;
}

.clases {
    display: grid;
    align-items: center;
    color: $text-color;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 2px;
    background-color: $background-color;
    margin: 10px;

    img {
        width: 30px;
        height: auto;
        margin-left: 10px;
    }
}

.join-action {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 15px;
}

.titulo-unete h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}

.nuestro-goal {
    background-color: #222;
    padding: 20px;
    margin: 15px;

    h2,
    p {
        text-align: start;
        color: white;
        padding: 20px;
    }

    video {
        width: 500px;
        height: auto;
        padding: 10px;
        margin: 10px;
    }
}

.unete-bg {
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}


#contactarme {
    padding: 1em;
    margin: auto;
    width: auto;
    height: auto;
    background-color: #1B1B1B;
    color: #E0E0E0;
    text-align: left;
    display: inline-block;
    justify-content: start;

    h2 {
        font-size: 2rem;
        margin-bottom: 1em;
        color: #FF6F00; // Naranja cálido
    }

    form {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        margin: 20px;
        gap: 20px;
        flex-wrap: wrap;
        align-items: start;
        width: auto;
        height: auto;
        background-color: #333;

        div {
            margin-bottom: 1em;
        }

        label {
            display: block;
            font-weight: 500;
            margin-bottom: 0.5em;
            color: #FF6F00;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 0.5em;
            border: 1px solid #B8860B; // Dorado oscuro
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1rem;

            &:focus {
                border-color: #FF6F00; // Naranja cálido
                outline: none;
            }
        }

        button[type="submit"] {
            background-color: #FF6F00;
            border: none;
            margin-top: 5em;
            padding: 0.75em 1.5em;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #1B1B1B;

            &:hover {
                background-color: #ac6736; // Naranja cálido
            }
        }
    }
}


.shop-titulo {
    text-align: center;
    padding: 10px;
    margin: 20px;
    h1 {
        font-size: 30px;
        padding: 20px;
    }
}

.galeria-guild {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        padding: 20px;
        grid-auto-rows: 1fr;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 2px;
        aspect-ratio: 1 / 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
