/* Media Query para dispositivos pequeños (max-width: 768px) */
@media (max-width: 768px) {
    .conteiner-who-we-are .borde-quienes-somos .quienes-somos .glorys img {
        width: 200px;
        height: auto;
        padding: 10px;
    }

    header {
        background-color: #333;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        z-index: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
        
    .navbar,
    .container-fluid {
        width: 100%;
        padding: 0;
    }

    .eventos-grid img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        display: block;
    }

    .hero .hero-content p {
        text-align: center;
    }

    .logo-no-broken {
        display: inline;
        justify-content: center;
    }

    .container-fluid {
        display: flex;
        justify-items: center;
        flex-direction: row-reverse;
    }
}

/* Media Query para dispositivos medianos y pequeños (max-width: 576px) */
@media (max-width: 576px) {
    .nuestro-goal video {
        width: 400px;
        height: auto;
    }
}

/* Media Query para dispositivos pequeños (max-width: 450px) */
@media (max-width: 450px) {
    .nuestro-goal video {
        width: 350px;
        height: auto;
    }
}

/* Media Query para dispositivos muy pequeños (max-width: 400px) */
@media (max-width: 400px) {
    .nuestro-goal video {
        width: 280px;
        height: auto;
    }
}